<form [formGroup]="paymentForm">
    <h2>Card</h2>
    <div class="form-row">
        <div class="form-group">
            <label for="card-number">Card number</label>
            <input 
                id="card-number" 
                formControlName="cardNumber" 
                placeholder="1234 1234 1234 1234"
                maxlength="19"
            >
            @if (paymentForm.get("cardNumber")?.touched) {
                @if (paymentForm.get("cardNumber")?.hasError("required")) {
                    <small class="alert">Card number is required!</small>
                }
                @if (paymentForm.get("cardNumber")?.hasError("minlength")) {
                    <small class="alert">Card number is incomplete!</small>
                }
            }
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="expiration-date">Expiration date</label>
            <input 
                id="expiration-date" 
                formControlName="expirationDate" 
                type="text"
                maxlength="7"
                placeholder="MM / YY"
            >
            @if (paymentForm.get("expirationDate")?.touched) {
                @if (paymentForm.get("expirationDate")?.hasError("required")) {
                    <small class="alert">Expiration date is required!</small>
                }
                @if (paymentForm.get("expirationDate")?.hasError("minlength")) {
                    <small class="alert">Expiration date is incomplete!</small>
                }
                @if (paymentForm.get("expirationDate")?.hasError("invalidMonth")) {
                    <small class="alert">Expiration format is invalid!</small>
                }
                @if (paymentForm.get("expirationDate")?.hasError("expired")) {
                    <small class="alert">Your card is expired!</small>
                }
            }  
        </div>
        <div class="form-group">
            <label for="security-code">Security code</label>
            <input 
                id="security-code" 
                formControlName="securityCode" 
                type="text"
                maxlength="3"
                placeholder="CVC"
            >
            @if (paymentForm.get("securityCode")?.touched) {
                @if (paymentForm.get("securityCode")?.hasError("required")) {
                    <small class="alert">Security code is required!</small>
                }
                @if (paymentForm.get("securityCode")?.hasError("minlength")) {
                    <small class="alert">Security code is incomplete!</small>
                }
            }  
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="postal-code">Postal code</label>
            <input 
                id="postal-code" 
                formControlName="postalCode" 
                type="text"
                maxlength="5"
                placeholder="12345"
            >
            @if (paymentForm.get("postalCode")?.touched) {
                @if (paymentForm.get("postalCode")?.hasError("required")) {
                    <small class="alert">Postal code is required!</small>
                }
                @if (paymentForm.get("postalCode")?.hasError("minlength")) {
                    <small class="alert">Postal code is incomplete!</small>
                }
            }  
        </div>
    </div>    

</form>